$primary-color:rgb(87, 232, 234);

$button-background-color: #33a517;
$button-text-color: #121111;
$button-padding: 12px 24px;
$button-border-radius: 8px;
$button-border: 1px solid #13d876;
$button-hover-background: #65e56e;

// _variables.scss
$input-width: 300px;
$input-height: 20px;
$input-padding: 10px;
$input-font-size: 16px;
$input-margin:5px;